* {
  font-size: 15px;
}

html, body {
    height: 100%;
}

body {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      text-align: center;
      color: white;
      font-family: helvetica;
}

p {
      font-size: 22px;
}

.content {
    flex: 1 0 auto;
}

.intro {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_mobile.jpg");
  background-size: cover;
  height: 500px;
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
}

.portrait {
  margin-top: 1rem;
  border-radius: 50%;
  border-color:  hsla(0, 0%, 0%, 0.700);
  border-style: solid;
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
}



.icon-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    margin: 2rem 1rem;
    padding: 3rem 3rem;
}

.icon {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    transition: all 0.3s ease-in-out;
    color:white;
    background-color: #4D576B;
    border: none;
    font-size: 2.5rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);

}

.icon:hover {
  color: #1C2130;
  background-color: #664448;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
}

.footer {
  flex-shrink: 0;
  background: hsla(0, 0%, 0%, 0.700);
  font-weight: bold;
  padding: 20px;
  width: 100%;
  box-shadow: 4px 0px 10px rgba(0,0,0,1);
}

@media screen and (min-width: 750px) {
  .intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_2k.jpg");

  }
}

@media screen and (min-width: 1100px) {
  .intro {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_2k.jpg");

  }
}
