/* ############################################################################
#
#
#
1. Common CSS
2. Typography
3. Layouts
4. components
5. Responsive Breakpoints
#
#
#
##############################################################################*/
/* ############################################################################

                              1. Common CSS

##############################################################################*/
:root {
  --bg-color: hsl(49 37% 94%);
  --hero-color: hsl(353, 20%, 33%);
  --font-color: hsl(220, 16%, 36%);
}

* {
  font-size: 15px;
  Font-Family: 'Roboto Slab', Serif;
}

/* ############################################################################

                              2. Typography

##############################################################################*/

.hero h1 {
  Font-Family: 'Ruda', Sans-Serif;
  font-size: clamp(3rem, 3vw + 1rem, 5rem);
  margin-bottom: 0;
  color: var(--bg-color);
}

.intro h2 {
  font-size: clamp(0.8rem, 3vw + 1rem, 2rem);
}

.intro h3 {
  font-size: clamp(0.6rem, 3vw + 1rem, 1.5rem);
}

p {
  font-size: clamp(0.5rem, 3vw + 1rem, 1.25rem);
}

.hero-color {
  color: var(--hero-color);
  font-weight: 900;
  font-size: clamp(1rem, 3vw + 1rem, 2rem);
}
/* ############################################################################

                              3. Layouts

##############################################################################*/

html, body {
    height: 100%;
}

body {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      text-align: center;
      background: var(--bg-color);
}

.content {
    flex: 1 0 auto;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_mobile.jpg");
  background-size: cover;
  height: 100vh;
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
}

.hero h1 {
  padding: 3rem 0;
}

.portrait {
  margin: 3rem 0;
}

.arrow {
  font-size: clamp(3rem, 3vw + 1rem, 5rem);
  color: white;
  background-color: red;
  outline: 1px solid red;

}

.intro {
  display: grid;
  place-items: center;
  color: var(--font-color);
  padding-top: 1rem;
}

.icon-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 2rem 1rem;
}

.footer {
  flex-shrink: 0;
  background: #4D576B;
  font-weight: bold;
  padding: 20px;
  box-shadow: 4px 0px 10px rgba(0,0,0,1);
  color: #fff;
  margin-top: 1rem;
}

/* ############################################################################

                              4. Components

##############################################################################*/


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.portrait {
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 0px 4px 10px rgba(0,0,0,1);
  filter: grayscale(50%);
}

.icon {
  width: 100%;
    text-align: center;
    padding: 2rem 0rem;
    transition: all 0.3s ease-in-out;
    color: #fff;
    background-color: #4D576B;
    border: none;
    font-size: 2.5rem;
    box-shadow: 0px 4px 10px rgba(0,0,0,1);
}

.icon:hover {
  /* color: #1C2130; */
  color: #fff;
  background-color: #664448;
  border-radius: 20px;
  box-shadow: 0px 4px 20px #664448;
}

.title-spacer {
  display: grid;
  place-items: center;
  color: #4D576B;
  font-size: 2rem;
  padding: 2rem 0rem;
}

.fadeIn {
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 1s ease 1s forwards;
}


/* ############################################################################

                      5. CSS Responsive Page Points

############################################################################# */


@media screen and (min-width: 750px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_2k.jpg");
  }
}

@media screen and (min-width: 1145px) {
  .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../images/samuel-ferrara-unsplash_2k.jpg");
  }

  .icon-container {
    margin: 2rem 25rem;
  }
}

/* ########################################################################## */
